@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.list {
  @include absolute($left: -50%);

  width: 11.4rem;
  background-color: $color-white;
  box-shadow: $box-shadow;
  display: $d-grid;
  row-gap: $g-1 * 2;
  padding: $p-1 * 2 0 $p-1 * 2;
  padding-left: $p-1 * 2;
  justify-items: $justify-start;

  &__item {
    border: none;
    background-color: transparent;

    @include font(
      $font-weight: $fw-medium,
      $font-size: $font-small,
      $line-height: $lh-large
    );

    span {
      margin-right: 0.5rem;
    }
  }
}
